# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Thesis Project\Thesis-BackEnd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
